<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
  <bean class="org.example.spring_ioc.web.RequestController" scope="request"/>
  <bean class="org.example.spring_ioc.web.SessionController" scope="session"/>
  <bean class="org.example.spring_ioc.web.ApplicationController" scope="application"/>
</beans>